{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="footer bg-light text-dark py-4 mt-5">
    <div class="container">
        <div class="row">
            <!-- Company Info -->
            <div class="col-md-3">
                <h5 style="font-family:Sevillana cursive">About Us</h5>
                <img src="https://luxecouturefashion.com/cdn/shop/files/LuxeLogoFooter_360x.png?v=1618280821"  height="81px" width="278px">
                <p style="font-family:Sevillana cursive">Discover the latest trends in fashion at unbeatable prices. We’re your one-stop shop for all things stylish.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3">
                <h5 style="font-family:Sevillana cursive">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-dark">Home</a></li>
                    <li><a href="/shop" class="text-dark">Shop</a></li>
                    <li><a href="/about" class="text-dark">About Us</a></li>
                    <li><a href="/contact" class="text-dark">Contact Us</a></li>
                </ul>
            </div>

            <!-- Customer Service -->
            <div style="font-family:Sevillana cursive" class="col-md-3">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="/help" class="text-dark">Help & FAQs</a></li>
                    <li><a href="/shipping" class="text-dark">Shipping & Returns</a></li>
                    <li><a href="/privacy" class="text-dark">Privacy Policy</a></li>
                    <li><a href="/terms" class="text-dark">Terms & Conditions</a></li>
                </ul>
            </div>

            <!-- Subscribe -->
            <div style="font-family:Sevillana cursive" class="col-md-3">
                <h5>Subscribe</h5>
                <p>Get the latest updates and offers straight to your inbox.</p>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email address" required>
                        <button class="btn btn-outline-dark" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Social Media Icons -->
        <div class="row mt-4">
            <div class="col text-center">
                <a href="#" class="text-dark mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-dark mx-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-dark mx-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-dark mx-2"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Copyright -->
        <div style="font-family:Sevillana cursive" class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2024 Luxe. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
