{% load static %}
<div class="container text-center mb-5">
  <h2 class="section-title">Shop Our Collections</h2>
  <p class="lead w-75 mx-auto" style="color: #666; font-size: 1.1rem; line-height: 1.8;">
    Check out LUXE’s stunning collections for the best ideas. Step out into the spotlight with our Spotlight Collection.
    Dress for success from business casual to business professional.
  </p>
</div>

<div class="container-fluid px-5">
  <div class="row g-4">
    <div class="col-md-3 col-sm-6">
      <div class="custom-card-img-wrapper">
        <img
          src="https://luxecouturefashion.com/cdn/shop/collections/Bellamie_D3252-23_rust-612_grande_359cbfa9-0048-42ef-a2c6-8f83d1491cee_360x.jpg?v=1668449026"
          class="img-fluid w-100 h-100" style="object-fit: cover;" alt="Collection 1">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="custom-card-img-wrapper">
        <img
          src="https://luxecouturefashion.com/cdn/shop/collections/front_and_back_reversible_tank_red_360x.jpg?v=1668450554"
          class="img-fluid w-100 h-100" style="object-fit: cover;" alt="Collection 2">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="custom-card-img-wrapper">
        <img
          src="https://luxecouturefashion.com/cdn/shop/collections/WAX_90075_medium_wash-478_grande_5da041ba-d8dd-4902-80af-65f15d6dc59e_360x.jpg?v=1668449922"
          class="img-fluid w-100 h-100" style="object-fit: cover;" alt="Collection 3">
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="custom-card-img-wrapper">
        <img
          src="https://luxecouturefashion.com/cdn/shop/collections/Mono_B_KJ11285_charcoal_grey-412_1_360x.jpg?v=1668450366"
          class="img-fluid w-100 h-100" style="object-fit: cover;" alt="Collection 4">
      </div>
    </div>
  </div>
</div>