{% load static %}
<link rel="stylesheet" href="{% static 'css/info.css' %}">
<div class="category">
    <div class="container d-flex justify-content-evenly flex-wrap">
        <div class="part1 d-flex flex-wrap justify-content-evenly">
            <div class="cards2 pt-5">
                <a class="button" href="/category/cloth">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Dressess</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/tops">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Tops</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/tank">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Tank Tops</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/shirts">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Blouses & Shirts</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/bottoms">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Bottoms</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/denim">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Denim</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/shorts">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Shorts</span>
                </a>
            </div>
            <div class="cards2 pt-5">
                <a class="button" href="/category/joggers">
                    <div class="icon_cont">
                        <span class="icon"></span>
                    </div>
                    <span style="font-family:Sevillana cursive" class="text_button">Joggers</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container text-center">
            <h3 style="font-family:Sevillana cursive"> <b>TRENDY WOMEN'S CLOTHING FOR ALL</b></h3>
            <br>
            <p style="font-family:Sevillana cursive">LUXE House Of Couture has one of the most exclusive trendy women’s clothing lines around. Feel happy, confident, and empowered every day with our chic and elegant clothing collections and jewelry. Our wide range of women’s fashion pieces is for every woman and is versatile and seasonal for any occasion. Revamp your wardrobe with everything you need from stunning tops, bottoms, dresses, outerwear, lounge, and activewear. At LUXE our quality, detail, and affordability are second to none and each piece is hand-picked with you in mind - this means, no matter who you are or where you’re from, you deserve to dazzle and feel like the fierce, beautiful woman you are while saving yourself time and money. Shop affordable clothing for women online right here!</p>
        </div>
    </div>
    <br>
<br>
</div>

