
{% load static %}
<link rel="stylesheet" href="{% static 'css/info2.css' %}">




<div class="container">
    <div class="container  text-center ">
        <h3 style="font-family:Sevillana cursive"><b>SHOP OUR COLLECTIONS</b></h3>
        <br>
        <p style="font-family:Sevillana cursive">Check out LUXE’s stunning collections for the best ideas. Step out into the spotlight with our Spotlight Collection - a variety of casual wear, formal wear, evening wear, workout wear, and more, so you’re always prepared! Want to see what’s currently trending? The latest trendy women’s clothing shouldn’t be a secret. Browse affordable clothing for women online for the best of the best, curated to guide your style. Feel like a boss with our Women’s Work Attire Collection. Dress for success from business casual to business professional. Find it all here!</p>
    </div>
</div>
<br><br>


<div class="container-fluid">
    <div class="container-fluid d-flex  justify-content-evenly">
        <div class="part2 d-flex  justify-content-evenly">
          <div class="cards2">
            <img src="https://luxecouturefashion.com/cdn/shop/collections/Bellamie_D3252-23_rust-612_grande_359cbfa9-0048-42ef-a2c6-8f83d1491cee_360x.jpg?v=1668449026" width="350.7"  height="529px">
            
          </div>
          <div class="cards2">
            <img src="https://luxecouturefashion.com/cdn/shop/collections/front_and_back_reversible_tank_red_360x.jpg?v=1668450554" width="350.7"  height="529px">
            
          </div>
          <div class="cards2">
            <img src="https://luxecouturefashion.com/cdn/shop/collections/WAX_90075_medium_wash-478_grande_5da041ba-d8dd-4902-80af-65f15d6dc59e_360x.jpg?v=1668449922" width="350.7"  height="529px">
            
          </div>
          <div class="cards2">
            <img src="https://luxecouturefashion.com/cdn/shop/collections/Mono_B_KJ11285_charcoal_grey-412_1_360x.jpg?v=1668450366" width="350.7"  height="529px">
            
          </div>
          
      
        </div>
        
      </div> 
</div>