{% load static %}
<div class="row g-4">
    <div class="col-12 text-center mb-4">
        <h2 class="section-title">Premium Denim</h2>
        <p class="lead w-75 mx-auto" style="color: #666; font-size: 1.1rem; line-height: 1.8;">
            Every woman needs a little denim in her closet, right!? Always functional and never outdated whether you’re
            going for a complete casual or smart-casual look.
        </p>
    </div>

    {% for product in products %}
    {% if product.category == "denim" %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="custom-card">
            <div class="custom-card-img-wrapper" style="cursor: pointer;" onclick="window.location.href='{% url "
                product_details" product.id %}'">
                <img src="http://127.0.0.1:8000/admin/product/media/{{ product.image }}" alt="{{ product.name }}">
            </div>
            <div class="details">
                <h5 class="text-truncate" title="{{ product.name }}">{{ product.name }}</h5>
                <div class="price-tag">&#8377;{{ product.price }}</div>
                <div class="mt-auto d-flex gap-2">
                    <a href="{% url 'product_details' product.id %}" class="btn btn-outline-dark w-50"
                        style="padding: 10px 0; font-size:0.8rem;">View</a>
                    <a href="/product/{{ product.id }}" class="btn btn-dark w-50"
                        style="border-radius:0; padding: 10px 0; font-size:0.8rem;">Add</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>